body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #f3f4f6, #e5e7eb);
    color: #333;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

img {
    max-width: 300px; /* Tamaño más grande para la bandera */
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

p {
    font-size: 1.2rem;
    margin-top: 20px;
}

footer {
    bottom: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
